*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: crimson;

}
.app{
    background: wheat;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;

}
.app h1{
    font-size:  25px;
    color:rgb(24, 24, 172);
    font-weight: 600;
    border-radius: 1px solid #444;
    padding-bottom: 30px;

}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color:#222;

    
}
.btn{
    background: white;
    color: #111;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s

}
.btn:hover:not([disabled]){
    background-color: gold;
    color: green;
}
.btn:disabled{
    cursor:no-drop;
}
#next{
    background: #111;
    color: aquamarine;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}
.correct{
    background: green;
    color: white;
}
.incorrect{
    background: red;
    color: white;
}